.wrapper {
	background-color: #3C1044;
	color: #FFFFFF;
}

.headerhome{
	background-color: #FFFFFF;
	height: 200px;
}

.headertop{
	background-color: #3C1044;
	height: auto;
}

.logo{
	height: 52px;
}

.cenefa{
	height: 80px;
	background-color: #FED41B;
	color: #3C1044;
}

.clearfix {
    overflow: auto;
}

.datos {
    border-left: 1px solid gray;
    
}